.Display {
    display: block;
}

.btn-Mostrar {
    font-family: 'Quicksand', sans-serif;
    margin: 2% 0;
    color: white;
    background-color: #25dddd;
    border: hidden;
    border-radius: 15px;
    font-size: 1rem;
    padding: 1% 2%;
}