.forms form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10% 0 0 0;
}
.form_der {
  display: flex;  
  justify-content: center;
}
.form_izq button {
  margin: 10% 0 0 0;
}